.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: blue;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
